/* __________________________ CLIENTES __________________________*/
.content > form{
    width: 40%;
    height: max-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#btns{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 3px 20px;
    font-size: 80%;
    color: white;
    border: none;
    border-radius: 2px;
}

#btnsNavegacao > .btn{
    background-color: purple;
}

#btnNovo{
    background-color: greenyellow;
}

#btnSalvar{
    background-color: greenyellow;
}


/* __________________________ PRODUTOS __________________________*/

/* __________________________ PEDIDOS __________________________*/

